[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clinCompare"]
	path = clinCompare
	url = https://github.com/siddharthlokineni/clincompare
